body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}

.page-middle {
    margin-top: 280px;
}

.middle-btn {
    background-color: #cfb53c;
    color: black;
}